<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672143718507-7878rh8sj8agf930f5h7sgrtqs2r7tvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672143718507-7878rh8sj8agf930f5h7sgrtqs2r7tvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ6PkPR-stBGkI_Pa_xBsp0oflw6I4t3k</string>
	<key>GCM_SENDER_ID</key>
	<string>672143718507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-8b008</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-8b008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672143718507:ios:6faa60d8f0dfb72f5c192e</string>
</dict>
</plist>